<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
</head>
<body>
  <h2>Taco Cloud Admin: Ingredients</h2>
  <form th:action="@{/admin/ingredients}" method="post">
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}" />
    ID: <input type="text" name="id"><br>
    Name: <input type="text" name="name"><br>
    Type: <input type="text" name="type"><br>
    <input type="submit" value="Add">
  </form>
  <hr>
<ul>
  <li th:each="ingredient: ${ingredients}" th:text="${ingredient.name}"></li>
</ul>
</body>
</html>